* {
  transition: background-color 0.3s ease;
}

.no-transition * {
  transition: none !important;
}

/* Light Mode Background */
html {
  background-color: #ffffff;
}

/* Dark Mode Background */
html.dark {
  background-color: #000000;
}

html.dark body, html.dark nav, html.dark section, html.dark div {
  background-color: transparent;
}

#about {
  display: flex;
  justify-content: flex-start;
  margin-left: 4rem; 
}

.contact-section {
  margin-top: 20px;
}



