* {
  transition: background-color 0.3s ease;
}

.no-transition * {
  transition: none !important;
}

/* Light Mode Background */
html {
  background-color: #ffffff;
}

/* Dark Mode Background */
html.dark {
  background-color: #000000;
}

html.dark body, html.dark nav, html.dark section, html.dark div {
  background-color: transparent;
}



.contact-section {
  margin-top: 30px;
}

#about {
  margin-left: 20px; /* Adjust as needed */
  margin-right: auto; /* Ensure it aligns to the left side */
  margin-top: 20px; /* Add top margin if needed */
  background-color: inherit; /* Use the same background color as the navbar */
  border-radius: 15px; /* Optional: Add border radius if you want rounded corners */
  padding: 20px;
  background-color: #f0f0f0; /* Optional: Add padding if needed */
}







