* {
  transition: background-color 0.3s ease;
}

.no-transition * {
  transition: none !important;
}



.contact-section {
  margin-top: 30px;
}

html {
  background-color: #ffffff;
}

/* Dark mode styles */
html.dark-mode {
  background-color: #f4f4f4;
}

/* Experience overlay styles */
.experience-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.experience-content {
  background-color: #f4f4f4;
}