@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global body styles */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #FAF9F6;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.no-transition * {
  transition: none !important;
}

/* Light Mode Background */
html {
  background-color: #f0f0f0;
  color: #000000; 
}

body.light-page .app-content {
  background-color: #ffffff; 
}

/* Dark Mode Background */
html.dark {
  background-color: #080808; 
  color: #ffffff;
}

html.dark body, html.dark nav, html.dark section, html.dark div {
  background-color: inherit; 
  color: inherit; 
}

html.dark nav {
  background-color: #242124;
}


html.dark nav button {
  color: #a9a9a9;
}

html.dark nav button:hover {
  color: #e5e4e2;
}

html.dark .project-card {
  background-color: #242124;
  border-color: #555555;
}

html.dark .project-title {
  color: #e0e0e0;
}

html.dark .project-description {
  color: #c0c0c0;
}

html.dark .project-link {
  background-color: #505050;
}

html.dark .project-link:hover {
  background-color: #777777;
}

html.dark nav,
html.dark section,
html.dark div,
html.dark .project-card {
  border: none;
}

button.text-4xl {
  border: 1px solid lightgray;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 4px 18px;
  border-radius: 25px;
  font-size: 2rem;
}

nav {
  border-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact-section {
  border: none;
  margin-top: 0;
  padding-top: 0;
}

.projects-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 22px;
}


.projects-grid {
  max-width: 1400px;
  width: 220%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 100px;
  margin: 20px;
  margin-top: 16px;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  @apply w-60; 
  margin: 0 auto; 
  height: 320px;
  background-color: white;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-image {
  @apply w-full h-40 object-cover;
  border-radius: 4px;
}

.project-title {
  font-size: 1rem; 
  font-weight: 700; 
  color: #555555;
  margin: 2px 0;
  text-align: center;
}

.project-description {
  font-size: 0.80rem; 
  color: #666;
  margin: 6px 0;
  text-align: left; 
}

.project-link {
  display: inline-block;
  text-align: center;    
  margin-left: 50px;    
  padding: 4px 8px;     
  background-color: #80daeb; 
  color: #fff;          
  border-radius: 25px;   
  text-decoration: none;
  font-size: 0.85rem;
  transition: background-color 0.3s ease;
  font-weight: 500;
}

.project-link:hover {
  background-color: #778899;
}

.app-content {
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
  z-index: 1;
}

#about {
  margin-bottom: 0;
}

#about {
  margin-left: 60px; 
  margin-right: auto; 
  margin-top: 50px;
  background-color: inherit;
  border-radius: 15px;
  padding: 20px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #080808;
}

html.dark h1 {
  color: #ffffff; 
}

html.dark #about h2 {
  color: #a9a9a9;
}

html.dark .contact-section svg {
  fill: #a9a9a9;
}

.github-icon, .linkedin-icon {
  transform: perspective(600px) translateZ(0);
  transition: transform 0.3s ease-in-out;
  color: #80daeb;
}

.github-icon:hover, .linkedin-icon:hover {
  transform: perspective(600px) translateZ(30px) scale(1.15);
}

h2 {
  color: #353839;
  margin-bottom: 0;
}

.fixed {
  position: fixed;
}

.inset-0 {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

.overflow-y-auto {
  overflow-y: auto;
}

.h-3 h4 {
  height: 75%;
}

.rounded-lg {
  border-radius: 0.75rem;
}

.shadow-lg {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.custom-list {
  list-style-type: none; 
  padding-left: 0; 
}

.custom-list li::before {
  content: "•";
  color: #00bfa6;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.custom-list li {
  margin-bottom: 0.75rem; 
}

.text-gray-600.dark\\:text-gray-400 {
  color: #4b5563; 
  color: #9ca3af;
}